
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.main-container {
  flex-grow: 1;
  min-height: 100%;
}


.icon::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  mask: var(--icon) no-repeat center / cover;
}


.icon:hover::before {
  background: #756257;
}


.icon:active::before {
  opacity: 30%;
}


.search {
  --icon: url("../images/icons/search.svg");
}


.heart {
  --icon: url("../images/icons/heart.svg");
}


.badge-count {
  position: absolute;
  background: #7db550;
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
  top: 0;
  right: 0;
  transform: translateX(-40%);
}


.user-link:active {
  opacity: 30%;
}


.navigation-user-item {
  width: 42px;
  padding-top: 7px;
  position: relative;
}


.button-dark {
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 9px 15px;
}


.button-dark:hover {
  background: #615048;
  border-radius: 4px;
}


.button-dark:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}


.button-dark:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}


.button-light {
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 9px 15px;
}

.button-small {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}


.button-large {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}


.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-header {
  background: #ffffff;
  color: #000000;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
  margin-bottom: -5px;
}


.main-header-logo {
  display: flex;
  margin: 0;
  margin-right: 30px;
  position: relative;
}


.navigation {
  display: flex;
  width: 1060px;
  margin: 0;
}


.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  min-width: 420px;
  flex-wrap: wrap;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
  padding: 20px 17px;
}


.navigation-link:hover {
  color: #756257;
}


.navigation-link:active {
  opacity: 30%;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  min-width: 280px;
  margin-left: auto;
  margin-top: 13px;
  justify-content: end;
}


.navigation-button {
  width: 160px;
  margin-left: 10px;
}


.about {
  width: 1200px;
  margin-top: 0;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ffffff;
  background-image: url("../images/icons/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantage {
  background-color: #ffffff;
  color: #000000;
  margin-top: 0;
  padding-top: 63px;
  width: 1200px;
}


.advantage-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}


.advantage-text {
  padding: 98px 75px 108px;
}


.advantage-list-item {
  background-color: rgba(131, 179, 211, 0.2);
}


.advantage-list-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantage-list-title.advantage-text {
  padding: 0 50px;
}


.advantage-img {
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  list-style-type: none;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr;
}


.advantage-first-wrap,
.advantage-second-wrap {
  padding: 97px 90px 87px;
  background: #83b3d3;
}


.hotels-advantages {
  grid-column: 2/-1;
  display: block;
}


.bridge-advantage {
  grid-column: 1/3;
  grid-row: 1/2;
  display: block;
}


.advantage-first-wrap {
  grid-column: 1/2;
}

.advantage-second-wrap {
  grid-column: 3/-1;
  grid-row: 1/2;
}

.advantage-city-list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  grid-column: 1/-1;
  background-color: #ffffff;
  color: #000000;
}


.advantage-title {
  margin: 0;
  padding: 0 240px 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}


.advantage-list-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}


.house::before {
  content: " ";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 89px;
  transform: translateX(-50%);
}


.food::before {
  content: " ";
  display: block;
  width: 74px;
  height: 70px;
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 89px;
  transform: translateX(-50%);
}


.souvenirs::before {
  content: " ";
  display: block;
  width: 64px;
  height: 76px;
  background-image: url("../images//icons/souvenirs.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 89px;
  transform: translateX(-50%);
}


.advantage-list-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}


.advantage-list-description.number {
  margin: 30px auto;
}

.advantage-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}


.advantage-item-city {
  position: relative;
  padding: 184px 110px 79px;
  background-color: #ffffff;
}


.advantage-item-city:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-description-city {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 20px 0;
}


.hotel-search {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 90px 240px 93px;
}

.hotel-search-quwstion {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.button-search-hotel {
  width: 575px;
  padding: 14px 0 10px;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}


.button-search-hotel:hover {
  background: #615048;
}


.button-search-hotel:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
}


.button-search-hotel:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.mailing-list {
  background-color: #83b3d3;
  background-image: url("../images/background-email.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding-top: 94px;
  padding-bottom: 93px;
}

.mailing-list-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
  flex-grow: 1;
}

.mailing-list-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}


.mailing-list-description {
  margin: 0 340px 45px;
}


.button-subscript {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: #83b3d3;
  margin: 0;
  color: #ffffff;
  width: 200px;
  display: inline-block;
  border: 0;
  border-radius: 0 10px 10px 0;
}


.button-subscript:hover {
  background: #68a2ca;
}


.button-subscript:focus {
  background: #68a2ca;
  outline: 3px solid #756257;
}


.button-subscript:active {
  background: #68a2ca;
  opacity: 30%;
}

.subscript-field {
  font-size: 20px;
  line-height: 26px;
  padding: 16px;
  border: 0;
  border-radius: 10px 0 0 10px;
  background: #f2f2f2;
  width: 564px;
}


.subscript-field:hover {
  background: #e6e6e6;
}


.subscript-field:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}


.subscript-field:invalid {
  outline: 2px solid #ff5757;
  background: #ffffff;
}


.footer-contacts-phone {
  display: inline-block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
  padding: 15px;
}


.footer-contacts-phone:hover {
  color: #756257;
}


.footer-contacts-phone:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}


.footer-contacts-phone:active {
  opacity: 30%;
}


.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 110px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-logo-htmlacademy::before {
  content: "";
  display: block;
  width: 115px;
  height: 34px;
  background-color: #000000;
  mask: var(--icon) no-repeat center / cover;
  margin: 18px 22px;
}


.footer-logo-htmlacademy:hover::before {
  background: #756257;
}


.footer-logo-htmlacademy:focus-visible {
  display: block;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
  width: 160px;
  height: 70px;
}

.footer-logo-htmlacademy:active::before {
  opacity: 30%;
}

.footer-logo-htmlacademy {
  --icon: url("../images/icons/logo-htmlacademy.svg");
  width: 160px;
  height: 70px;
}


.button-social {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  margin-right: 30px;
  margin-bottom: 20px;
}


.button-social:nth-child(3n) {
  margin-right: 0;
}


.button-social::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #83b3d3;
  mask: var(--icon) no-repeat center / cover;
  box-sizing: border-box;
}


.button-social:hover::before {
  background: #68a2ca;
}


.button-social:focus-visible {
  display: block;
  border: 0;
  outline: 3px solid #83b3d3;
  outline-offset: 3px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}


.button-social:active::before {
  opacity: 30%;
}


.twitter {
  --icon: url("../images/icons/tw.svg");
}


.facebook {
  --icon: url("../images/icons/fb.svg");
}


.youtube {
  --icon: url("../images/icons/yt.svg");
}


.catalog-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  height: auto;
}


.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: flex-end;
}


.breadcrumbs-items {
  list-style-type: none;
  margin-right: 0;
  padding: 0;
  display: flex;
  align-items: center;
}


.breadcrumbs-link.hotels {
  text-decoration: none;
  color: #ffffff;
}


.breadcrumbs-link {
  padding: 0;
}


.breadcrumbs-items:not(:first-child)::before {
  content: "";
  background-image: url("../images/icons/breadcrumps-arrow.svg");
  display: block;
  width: 5px;
  height: 8px;
  margin: 0 8px;
}


.breadcrumbs-link.back::before {
  content: "";
  width: 20px;
  height: 20px;
  display: flex;
  background-color: #ffffff;
  mask: var(--icon) no-repeat center / cover;
  box-sizing: border-box;
}


.back {
  --icon: url("../images/icons/home.svg");
}

.breadcrumbs-link:hover {
  opacity: 60%;
}


.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 3px;
  box-sizing: border-box;
  border-radius: 2px;
}

.inner-header {
  margin-bottom: 45px;
}


.filter-container {
  display: flex;
  justify-content: flex-start;
}


.inner-filter-section {
  background-color: #68a2ca;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
}


.catalog-filter-group {
  margin: 0;
  padding: 0;
}


.infrastructure {
  margin-right: 67px;
}


.types {
  margin-right: 167px;
}


.price {
  margin-right: 80px;
  width: 287px;
  display: flex;
  color: #ffffff;
}


.control-input {
  background: transparent;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.button-filter[type="submit"] {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  width: 160px;
  cursor: pointer;
  padding: 14px 0;
  display: inline-block;
  box-sizing: border-box;
}


.button-filter[type="submit"]:hover {
  background: #68a2ca;
}


.button-filter[type="submit"]:focus {
  background: #68a2ca;
  outline: 3px solid #ffffff;
}


.button-filter[type="submit"]:active {
  opacity: 30%;
}


.button-filter[type="reset"] {
  background: transparent;
  border: none;
  padding: 5px;
  color: #ffffff;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 20px auto 0;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.button-filter[type="reset"]:hover {
  opacity: 60%;
}


.button-filter[type="reset"]:focus-visible {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}


.button-filter[type="reset"]:active {
  opacity: 30%;
}


.filter-catalog {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 44px 71px 0;
}


summary {
  list-style-type: none;
  display: flex;
  padding: 12px 20px;
  outline: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  max-height: 48px;
  cursor: pointer;
}


summary:hover {
  outline: 2px solid #83b3d3;
}

summary:focus-visible {
  outline: 2px solid #83b3d3;
}

summary:active {
  opacity: 30%;
}


summary::after {
  content: "";
  background-image: url("../images/icons/select-arrow.svg");
  width: 12px;
  height: 7px;
  align-self: center;
  margin-left: 94px;
}


.sorting-list {
  list-style-type: none;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 5px 0;
}


.sorting-link {
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid #e6e6e6;
}

.show-card-button {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}


.show-card-item {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;
  cursor: pointer;
}


.show-card-item:last-child {
  margin-right: 0;
}


.show-card-item:hover {
  outline: 2px solid #83b3d3;
}

.button-cards:focus-visible {
  outline: 2px solid #83b3d3;
}

.show-card-item:active {
  outline: 2px solid #000000;
}


.button-cards {
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  max-width: 48px;
  max-height: 48px;
  margin: 17px 16px;
  padding: 0;
  cursor: pointer;
}

.cards::before {
  background-image: url("../images/icons/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  display: block;
  content: "";
}


.slide::before {
  background-image: url("../images/icons/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  display: block;
  content: "";
}

.list::before {
  background-image: url("../images/icons/list.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  display: block;
  content: "";
}

.filter-catalog-title {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}


.sorting-type {
  margin-right: 80px;
  width: 287px;
}


.catalog-hotel-list {
  padding-top: 53px;
  padding-right: 72px;
  padding-left: 72px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 20px;
}


.hotel-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hotel-card-image {
  order: -1;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.hotel-card-title-link {
  text-decoration: none;
  margin: 16px 0;
}

.hotel-card-title {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}


.hotel-card-description {
  margin: 0;
  padding: 0;
}

.visually-hidden.four-stars {
  background-image: url("../images/icons/star.svg");
  width: 91px;
  height: 17px;
  display: inline-block;
  background-repeat: no-repeat;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.button-more {
  display: flex;
  background-color: #68a2ca;
  width: 620px;
  height: 60px;
  border-radius: 4px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}

.hotel-showmore-button {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #68a2ca;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 16px 0;
}


.pagination-container {
  padding: 30px 72px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}


.mailing-list-catalog {
  background-color: #ffffff;
  color: #000000;
  height: 411px;
  text-align: center;
  padding-top: 73px;
}

