
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.main-container {
  flex-grow: 1;
  min-height: 100%;
}


.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-header {
  background: #f2f2f2;
  color: #000000;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: -5px;
}


.main-header-logo {
  display: flex;
  margin: 0;
  margin-right: 30px;
  position: relative;
}


.navigation {
  display: flex;
  width: 1060px;
  margin: 0;
}


.navigation-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 20px 17px;
  min-width: 420px;
  flex-wrap: wrap;
}


.navigation-item:not(:last-child) {
  margin-right: 34px;
}


.navigation-user {
  margin: 0;
  min-width: 280px;
  display: flex;
  margin-left: auto;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  display: block;
}

.navigation-link.button {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  align-self: center;
  margin-left: 20px;
  padding: 8px 0;
}

.navigation-link.search {
  background-image: url("../images/icons/search.svg");
  min-width: 18px;
  min-height: 18px;
  background-repeat: no-repeat;
  display: block;
  margin: 24px 12px;
}

.navigation-link.favorit {
  background-image: url("../images/icons/favorite.svg");
  min-width: 18px;
  min-height: 18px;
  background-repeat: no-repeat;
  display: block;
  margin: 24px 12px;
}

.about {
  width: 1200px;
  margin-top: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ffffff;
  background-image: url("../images/icons/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, top;
  text-align: center;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantage {
  background-color: #ffffff;
  color: #000000;
}


.advantage-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.advantage-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.advantage-city-list {
  display: flex;
}


.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}


.advantage-list-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantage-description-city {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.hotel-search {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hotel-search-quwstion {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button.search-hotel {
  width: 575px;
}

.mailing-list {
  background-color: #83b3d3;
  background-image: url("../images/background-email.jpg");
  height: 411px;
  text-align: center;
  color: #ffffff;
}

.mailing-list-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
  margin: 0 auto;
  flex-grow: 1;
}

.mailing-list-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-subscript {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: #83b3d3;
}

.subscript-field {
  font-size: 20px;
  line-height: 26px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}


.main-footer {
  display: flex;
  justify-content: space-between;
}


.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 200px;
  justify-content: space-between;
}


.footer-logo-htmlacademy {
  background-image: url("../images/icons/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 34px;
  margin-right: 72px;
  display: inline-block;
}


.footer-social-item.twitter {
  background-image: url("../images/icons/social-twitter.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  background-repeat: no-repeat;
}

.footer-social-item.facebook {
  background-image: url("../images/icons/social-facebook.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  background-repeat: no-repeat;
}

.footer-social-item.youtube {
  background-image: url("../images/icons/social-youtube.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  background-repeat: no-repeat;
}


.catalog-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  height: auto;
}


.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-left: 71px;
}


.filter-container {
  display: flex;
  justify-content: space-around;
}


.inner-filter-section {
  background-color: #68a2ca;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-left: 71px;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  border-radius: 4px;
}


.filter-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-cards {
  background-image: url("../images/icons/tile.svg");
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.button-slide {
  background-image: url("../images/icons/slideshow.svg");
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.button-list {
  background-image: url("../images/icons/list.svg");
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.filter-catalog-title {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}


.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.hotel-card-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}


.visually-hidden.four-stars {
  background-image: url("../images/icons/star.svg");
  width: 91px;
  height: 17px;
  display: inline-block;
  background-repeat: no-repeat;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.button-more {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #68a2ca;
  width: 620px;
  height: 60px;
  border-radius: 4px;
  margin: auto;
}

.hotel-showmore-button {
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  line-height: 26px;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #68a2ca;
  width: 55px;
  height: 55px;
  position: absolute;
  text-align: center;
}


.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: auto;
}


.mailing-list-catalog {
  background-color: #ffffff;
  color: #000000;
  height: 411px;
  text-align: center;
}

