
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("//fonts/ptsans-700.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: samp;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
  height: auto;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url("/images/header/Rectangle\ 1.png");
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-header {
  background: #f2f2f2;
  color: #000000;
}

.navigator-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigator-link.button {
  font-size: 16px;
  line-height: 20px;
}

.navigation-item-search::after {
  content: "";
  background-image: url("/images/header/Поиск.svg");
  width: 18px;
  height: 18px;
  position: absolute;
}

.navigator-link.favorit {
  background-image: url("/images/header/favorite.svg");
  width: 18px;
  height: 17px;
  position: absolute;
}

.about {
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../images/welcome/divider.svg"), url("../images/welcome/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, top;
  text-align: center;
}

.welcome-logo {
  text-align: center;
}

.advantage {
  background-color: #ffffff;
  color: #000000;
}

.advantage h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantage h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantage-list-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantage-description-city {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-list-item-img {
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.hotel-search {
  text-align: center;
  background-color: #ffffff;
}

.hotel-search-quwstion {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mailing-list {
  background-color: #83b3d3;
  background-image: url("../images/background-email.jpg");
  height: 411px;
  text-align: center;
  color: #ffffff;
  padding: auto;
}

.mailing-list-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-subscript {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.subscript-field {
  font-size: 20px;
  line-height: 26px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}


.footer-logo-htmlacademy {
  background-image: url("/images/footer/logo_htmlacademy.svg ");
  background-repeat: no-repeat;
  width: 115px;
  height: 34px;
  margin-right: 72px;
  display: inline-block;
  text-align: right;
}

.catalog-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  height: auto;
}

.inner-filter-section {
  background-color: #68a2ca;
  background-image: url("../images/catalog/catalog-background\ 1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  border-radius: 4px;
}

.button-cards {
  background-image: url("/images/catalog/mode-tile\ 1.svg");
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.button-slide {
  background-image: url("/images/catalog/mode-slideshow\ 1.svg");
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.button-list {
  background-image: url("/images/catalog/mode-list\ 1.svg");
  background-position: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.filter-catalog-title {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}


.hotel-card-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}


.visually-hidden.four-stars {
  background-image: url("/images/catalog/4stars.svg");
  width: 91px;
  height: 17px;
  display: inline-block;
  background-repeat: no-repeat;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.button-more {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #68a2ca;
  width: 620px;
  height: 60px;
  border-radius: 4;
}

.hotel-showmore-button {
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  line-height: 26px;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #68a2ca;
  width: 55px;
  height: 55px;
  position: absolute;
  text-align: center;
}

.pagination-showmore {
  background-image: url("/images/catalog/pagination....svg");
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
}

.mailing-list-catalog {
  background-color: #ffffff;
  color: #000000;
  height: 411px;
  text-align: center;
  padding: auto;
}
