
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.main-container {
  flex-grow: 1;
  min-height: 100%;
}


.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000000;
	mask: var(--icon) no-repeat center / cover;
	transition: 0.1s;
}


.icon--svg-search {
  --icon: url("../images/icons/search.svg");
}


.icon--svg-heart {
  --icon: url("../images/icons/heart.svg");
}


.button-dark {
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 9px 15px;
}


.button-dark:hover {
  background: #615048;
  border-radius: 4px;
}


.button-dark:focus {
  background: #615048;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}


.button-light {
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 9px 15px;
}

.button-small {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}


.button-large {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}


.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-header {
  background: #ffffff;
  color: #000000;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
  margin-bottom: -5px;
}


.main-header-logo {
  display: flex;
  margin: 0;
  margin-right: 30px;
  position: relative;
}


.navigation {
  display: flex;
  width: 1060px;
  margin: 0;
}


.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  min-width: 420px;
  flex-wrap: wrap;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
  padding: 20px 17px;
}


.navigation-link:hover {
  color: #756257;
}


.navigation-link:focus {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}


.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  min-width: 280px;
  margin-left: auto;
  margin-top: 13px;
  justify-content: end;
}


.navigation-button {
  width: 160px;
}


.user-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #000000;
}


.search::before {
  mask-image: url("../images/icons/search.svg");
}

.user-link.favorit::before {
  mask-image: url("../images/icons/heart.svg");
}

.about {
  width: 1200px;
  margin-top: 0;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ffffff;
  background-image: url("../images/icons/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantage {
  background-color: #ffffff;
  color: #000000;
  margin-top: 0;
  padding-top: 63px;
  width: 1200px;
}


.advantage-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}


.advantage-text {
  padding: 98px 75px 108px;
}


.advantage-list-item {
  background-color: rgba(131, 179, 211, 0.2);
}


.advantage-list-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantage-list-title.advantage-text {
  padding: 0 50px;
}


.advantage-img {
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  list-style-type: none;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr;
}


.advantage-first-wrap,
.advantage-second-wrap {
  padding: 97px 90px 87px;
  background: #83b3d3;
}


.hotels-advantages {
  grid-column: 2/-1;
  display: block;
}


.bridge-advantage {
  grid-column: 1/3;
  grid-row: 1/2;
  display: block;
}


.advantage-first-wrap {
  grid-column: 1/2;
}

.advantage-second-wrap {
  grid-column: 3/-1;
  grid-row: 1/2;
}

.advantage-city-list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  grid-column: 1/-1;
  background-color: #ffffff;
  color: #000000;
}


.advantage-title {
  margin: 0;
  padding: 0 240px 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}


.advantage-list-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}


.house::before {
  content: " ";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 89px;
  transform: translateX(-50%);
}


.food::before {
  content: " ";
  display: block;
  width: 74px;
  height: 70px;
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 89px;
  transform: translateX(-50%);
}


.souvenirs::before {
  content: " ";
  display: block;
  width: 64px;
  height: 76px;
  background-image: url("../images//icons/souvenirs.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 89px;
  transform: translateX(-50%);
}


.advantage-list-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}


.advantage-list-description.number {
  margin: 30px auto;
}

.advantage-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}


.advantage-item-city {
  position: relative;
  padding: 184px 110px 79px;
  background-color: #ffffff;
}


.advantage-item-city:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-description-city {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 20px 0;
}


.hotel-search {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 90px 240px 93px;
}

.hotel-search-quwstion {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.button-search-hotel {
  width: 575px;
  padding: 14px 0 10px;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.mailing-list {
  background-color: #83b3d3;
  background-image: url("../images/background-email.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding-top: 94px;
  padding-bottom: 93px;
}

.mailing-list-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
  flex-grow: 1;
}

.mailing-list-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}


.mailing-list-description {
  margin: 0 340px 45px;
}


.button-subscript.button-large.button-light {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: #83b3d3;
  margin: 0;
  color: #ffffff;
  width: 200px;
  display: inline-block;
  border: 0;
  border-radius: 0 10px 10px 0;
}

.subscript-field {
  font-size: 20px;
  line-height: 26px;
  padding: 16px;
  border: 0;
  border-radius: 10px 0 0 10px;
  width: 564px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}


.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 72px;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 110px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 20px;
  margin-right: 30px;
}


.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-logo-htmlacademy {
  background-image: url("../images/icons/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 34px;
  margin-right: 72px;
}


.button-social {
  background-repeat: no-repeat;
  margin-right: 30px;
  margin-bottom: 20px;
}


.button-social:nth-child(3n) {
  margin-right: 0;
}


.twitter::before {
  content: "";
  display: block;
  background-image: url("../images/icons/tw.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-top: 7px;
}


.facebook::before {
  content: "";
  display: block;
  background-image: url("../images/icons/fb.svg");
  width: 20px;
  height: 20px;
  margin-top: 7px;
}


.youtube::before {
  content: "";
  display: block;
  background-image: url("../images/icons/yt.svg");
  width: 20px;
  height: 20px;
  margin-top: 7px;
}


.catalog-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  height: auto;
}


.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
}


.breadcrumbs-link {
  display: block;
}

.breadcrumbs-link.hotels::before {
  background-image: url("../images/icons/breadcrumps-arrow.svg");
}


.inner-header {
  margin-bottom: 45px;
}


.filter-container {
  display: flex;
  justify-content: flex-start;
}


.inner-filter-section {
  background-color: #68a2ca;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
}


.catalog-filter-group {
  margin: 0;
  padding: 0;
}


.infrastructure {
  margin-right: 67px;
}


.types {
  margin-right: 167px;
}


.price {
  margin-right: 80px;
  width: 287px;
  display: flex;
  color: #ffffff;
}


.control-input {
  background: transparent;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  border-radius: 4px;
}


.filter-catalog {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 44px 71px 0;
}

.button-cards {
  padding: 0;
  width: 17px;
  height: 16px;
  margin: 16px;
}


.show-card-button {
  display: flex;
  margin: 0;
  padding: 0;
}


.cards {
  background-image: url("../images/icons/tile.svg");
}

.slide {
  background-image: url("../images/icons/slideshow.svg");
}

.list {
  background-image: url("../images/icons/list.svg");
}

.filter-catalog-title {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}


.sorting-type {
  margin-right: 80px;
  width: 287px;
}


.catalog-hotel-list {
  padding-top: 53px;
  padding-right: 72px;
  padding-left: 72px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 20px;
}


.hotel-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.hotel-card-image {
  order: -2;
  object-fit: cover;
}


.hotel-card-button-wrap {
  display: flex;
}

.visually-hidden.four-stars {
  background-image: url("../images/icons/star.svg");
  width: 91px;
  height: 17px;
  display: inline-block;
  background-repeat: no-repeat;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.button-more {
  display: flex;
  background-color: #68a2ca;
  width: 620px;
  height: 60px;
  border-radius: 4px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}

.hotel-showmore-button {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #68a2ca;
  text-align: center;
  display: block;
  width: 55px;
  height: 55px;
}


.pagination-container {
  padding: 30px 72px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}


.mailing-list-catalog {
  background-color: #ffffff;
  color: #000000;
  height: 411px;
  text-align: center;
  padding-top: 73px;
}

